.contactList {
  list-style: none;
  padding: 0;
}

.contactItem {
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.contactText {
  margin: 0;
}

.deleteBtn {
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: lightsalmon;
}